*{
    font-family:  Consolas, 'YouYuan', Arial, sans-serif;
}
body,html{
    width: 100vw;
    height: 100vh;
    /*overflow: hidden;*/
    transition: all .3s cubic-bezier(0, 0, 0.26, 1.01);
    text-align: center;
}
.loading {
    background-color: #efefef;
    z-index: 99999999;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
.loading>p {
    font-weight: bold;
    width: 150px;
    height: 30px;
    position: fixed;
    top: 50%;
    left: 45%;
    /*margin-top: -50%;*/
    /*margin-left: -50%;*/
    font-size: x-large;
    -webkit-animation: flash 1.5s ease-in-out 0s infinite;
    animation: flash 1.5s ease-in-out 0s infinite;
}
.loading.hide{
    opacity: 0;
}
.loading.hide.replace{
    display: none;
}

.content {
    display: inline-block;
    width: 80vw;
    height: 80vh;
}

#game_MsgShow>* {
    display: inline-block;
    font-size: x-large;
}
.anim_before {
	transition: .2s cubic-bezier(0, 0, 0.26, 1.01);
	opacity: 0;
	margin-top: 30px;
}
.anim_start {
    -webkit-animation: zoom 1s ease-in-out 0s infinite;
    animation: zoom 1s ease-in-out 0s infinite;
}





/*  Anims  */
@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    25%, 75% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    25%, 75% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
@-webkit-keyframes zoom {
    0%, 100% {
		transform: scale(2);
    }

    50% {
		transform: scale(2.2);
    }
}

@keyframes zoom {
    0%, 100% {
		transform: scale(2);
    }

    50% {
		transform: scale(2.2);
    }
}
